.form{
    position: relative;
    text-align: center;
}
.form h1
{
    color: #607D8B;
    font-size: 30px;
}
.log_form
{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.field_div
{
    text-align: left;
    padding: 5%;
    box-sizing: border-box;
    color: #607D8B;
}
.field_div input
{
    height: 28px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: 4px;
    width: 200px;
}
.log_btn
{
    padding: 8px;
    border-radius: 4px;
    border: none;
    width: 70px;
    margin-top: 20px;
    cursor: pointer;
    background: #607D8B;
    color: #fff;
}
.log_btn:hover
{
    opacity: .7;
}