<div class="container">
  <div class="form">
    <h1>LOGIN</h1>
    <form (submit)="login()" class="log_form">
      <div class="field_div">
        <label for="username">Username:</label><br>
        <input type="text" [(ngModel)]="username" name="username">
      </div>
      <div class="field_div">
        <label for="password">Password:</label><br>
        <input type="password" [(ngModel)]="password" name="password">
      </div>
      <input type="submit" value="Login" class="log_btn">
    </form>
  </div>
</div>