<h3 style="text-align: center;color: #5699b9;">
  WELCOME TO DASHBOARD
</h3>
<p><a routerLink="/" class="logout">Logout</a></p>
<div>
  <table>
    <thead>
      <th>No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone No</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
      </tr>
    </tbody>
  </table>
</div>